@import '../base/settings';

.btn-container {
    display: flex;
    margin-bottom: 3rem;
    .more {
        padding: 1rem 4rem;
        font-size: 2rem;
        cursor: pointer;
        color: #ff6600;
        border: 1px solid;
        margin: 0 4rem;
        background: none;
    }

    .more:disabled {
        background: grey;
        color: white;
    }
}


.graph_container {
    max-width: 100%;
    overflow-x: scroll;
}